<!DOCTYPE html>
<section class="card_center">
    <div class="card">
        <i class="fa-solid fa-left-long back-icon" (click)="goBack()"></i>
        <div *ngIf="character">
            <h2>{{ character.name }}</h2>
            <img [src]="character.image" alt="{{ character.name }}" />
            <p><strong>Status:</strong> {{ character.status }}</p>
            <p><strong>Species:</strong> {{ character.species }}</p>
            <p><strong>Type:</strong> {{ character.type }}</p>
            <p><strong>Gender:</strong> {{ character.gender }}</p>
        </div>
    </div>
</section>