$card-bg: #fff;
$card-text-color: #000;
$card-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
$paragraph-color: #7c7878;

.card {
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 2em;
    cursor: pointer;
    box-shadow: $card-shadow;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: rgba(255, 12, 12, 0.4) 0px 8px 16px;
    }

    img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
}

.card_center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

h2 {
    text-align: center;
    font-family: var(--font-family-1, Arial, sans-serif);
    font-weight: bold;
    margin-bottom: 1em;
    color: var(--color-black);
}

p {
    text-align: center;
    font-family: var(--font-family-1, Arial, sans-serif);
    color: $paragraph-color;
    margin: 0.5em 0;

}

form {
    color: grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    text-align: center;
    gap: 1em;
}


/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
    .card {
        width: 200px;
        margin-top: 20%;
    }
}