.card-collection {
    grid-gap: 1em;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(323px, 1fr));
    margin: 6%;
    min-height: 700px;
    position: relative;


    img {
        width: 100%;
        object-fit: cover;
        border: 2px solid #fffdfd;
        flex-grow: 3;

    }
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;

    .search {
        border-radius: 24px;
        border: 1px solid #a9a9a9;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 4px 8px;
        width: 500px;
    }

    .search-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: transparent;
        border-radius: 50%;
        cursor: pointer;
        font-size: 12px;
    }
}